<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catalog</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <nav class="col-md-12 navbar navbar-default">
                    <div class="navbar-header"><a
                            class="navbar-brand navbar-link glyphicon glyphicon-home"
                            href="/catalog"></a>
                        <button class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#navcol-1">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {% if not current_logged_in_username %}
                                <a href="/login"><span
                                        class="glyphicon glyphicon-log-in"></span>
                                    Login</a>
                                {% else %}
                                <a href="/logout"><span
                                        class="glyphicon glyphicon-log-out"></span>
                                    Logout</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="//apis.google.com/js/platform.js?onload=start"></script>
    </body>

</html>
