{% extends "base.html" %}

{% block content %}
<div class="row content">

    <div class="col-sm-3 categories">
        <h2>Categories</h2>
        <ul class="list-unstyled">
            {% for category in categories %}
            <li>
                <a
                        href="{{url_for('showCategoryItems', category_id=category.id)}}">
                    {{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9 latest-items">
        <button class="btn btn-primary btn-sm">Add Item</button>
        <h2>Latest Items</h2>
        <ul class="items-list list-unstyled">
            {% for item in latest_items %}
            <li>
                <a href="#">
                    {{item.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}